@import "styles/unit.scss";

.root {
  margin-top: rem(200);
  .container {
    .row {
      h2 {
        font-weight: 700;
        font-size: rem(56);
        line-height: rem(60);
      }
      .slider {
        margin-top: rem(132);
        margin-left: rem(-10);
        .styleNext {
          left: rem(60rem);
          top: rem(-60);
        }
        .stylePrev {
          top: rem(-60);
          left: 0;
        }
        .item {
          padding: 0 rem(12);
          &:hover {
            transition: all 0.3s ease-in;
            transform: scale(1.01);
          }
          .card {
            cursor: pointer;
            overflow: hidden;
            background: #f2f2f8;
            height: rem(193);
            width: auto;
            border-radius: rem(26);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: rem(60);
            &:hover {
              .img {
                transition: all 0.3s ease-in;
                transform: scale(1.001);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    margin-top: rem(100);
    .container {
      .row {
        h2 {
          font-weight: 700;
          font-size: rem(30);
          line-height: rem(34);
        }
        .slider {
          margin-top: rem(30);

          .item {
            padding: 0;
            padding-left: rem(10);
            height: rem(180);
            .card {
              max-width: rem(400);
              height: rem(167);
              border-radius: rem(16);
              padding: rem(50);
              .img {
                position: relative;
              }

              &:hover {
                .img {
                  transform: scale(1.009);
                }
              }
            }
          }
        }
      }
    }
  }
}
