@import "styles/unit.scss";

.root {
  width: 100%;
  .container {
    .row {
      padding: rem(90) 0 rem(70);
      h2 {
        font-weight: 700;
        font-size: rem(46);
        line-height: rem(52);
      }
      .slider {
        margin-top: rem(60);
        margin-left: rem(-10);
        .item {
          padding: 0 rem(12);
          &:hover {
            transition: all 0.3s ease-in;
            transform: scale(1.01);
          }
          .card {
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background: rgba(4, 4, 21, 0.04);
            height: rem(222);
            max-width: rem(170);
            border-radius: rem(20);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.02);
            &:hover {
              p {
                transition: all 0.3s ease-in;
                color: var(--primary-color);
              }
              .img {
                transition: all 0.3s ease-in;
                transform: scale(1.001);
              }
            }
            .img {
              height: rem(162);
              width: 100%;
              position: absolute;
              right: 0;
              bottom: -5px;
            }
            .body {
              padding: rem(20);
              text-align: center;
              p {
                text-overflow: ellipsis;
                height: rem(44);
                overflow: hidden;
                font-weight: 600;
                font-size: rem(18);
                line-height: rem(22);
              }
            }
          }
        }
      }
    }
  }
  .greenRow {
    background: var(--primary-color);
    width: 100%;
    padding: rem(20) 0;
    height: rem(62);
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      display: flex;
      column-gap: rem(19);
      cursor: pointer;
      p {
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(22);
        color: #fff;
      }
      svg path {
        fill: #fff;
      }
    }
  }
}
.styleNext {
  opacity: 0.15;
  right: rem(-50rem);
}
.stylePrev {
  opacity: 0.15;
  left: rem(-50rem);
}

@media (max-width: 768px) {
  .root {
    .container {
      padding-right: 0;
      .row {
        padding: rem(60) 0 rem(98);
        h2 {
          font-weight: 700;
          font-size: rem(30);
          line-height: rem(34);
        }
        .slider {
          margin-top: rem(40);
          .item {
            padding: 0 rem(10);
            @media (max-width: 768px) {
              width: rem(170);
            }

            &:hover {
              transition: all 0.3s ease-in;
              transform: scale(1.01);
            }
            .card {
              height: rem(222);
              width: rem(170);
              border-radius: rem(16);
              &:hover {
                .img {
                  transform: scale(1.009);
                }
              }
              .img {
                height: rem(150);
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
