@use "styles/mixins.scss";
@import "styles/unit.scss";

.root {
  margin-top: rem(150);

  .container {
    h2 {
      margin-bottom: rem(72);
      @include mixins.title;
    }
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-evenly;
      gap: rem(40);
      .card {
        max-width: rem(575);
        background: linear-gradient(0deg, #f2f2f8, #f2f2f8),
          rgba(4, 4, 21, 0.03);
        border-radius: rem(30);
        padding: rem(40);
        p {
          @include mixins.content;
          &:first-child {
            color: var(--primary-color);
            margin-bottom: rem(20);
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    margin-top: rem(60);

    .container {
      h2 {
        margin-bottom: rem(36);
        @include mixins.titleMobile;
      }
      .row {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: rem(20);
        .card {
          border-radius: rem(15);
          padding: rem(15);
          p {
            @include mixins.contentMobile;
            font-weight: 400;
            &:first-child {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
