@use "styles/mixins.scss";
@import "styles/unit.scss";

.root {
  margin-top: rem(253);
  .container {
    .row {
      display: flex;
      gap: rem(20);
      .colFirst {
        width: rem(660);
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          @include mixins.title;
        }
        .mobileBanner {
          display: none;
        }
        p {
          @include mixins.content;
          margin-top: rem(30);
        }
      }
      .colSecond {
        min-width: rem(510);
        height: rem(414);
        border-radius: rem(50) rem(50) 0 0;
        background: var(--gradient-color);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .img {
          position: relative;
          width: rem(379);
          height: rem(334);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    margin-top: rem(0);
    .container {
      .row {
        flex-direction: column;
        align-items: center;
        gap: rem(0);
        .colFirst {
          width: auto;
          display: flex;
          justify-content: inherit;
          max-width: rem(335);
          h1 {
            @include mixins.titleMobile;
          }
          .mobileBanner {
            margin-top: rem(70);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: rem(300);
            background: var(--gradient-color);
            border-radius: rem(30);
            .img {
              position: relative;
              width: rem(215);
              height: rem(336);
            }
          }
          p {
            @include mixins.contentMobile;
            margin-top: rem(30);
          }
        }
        .colSecond {
          display: none;
        }
      }
    }
  }
}
