@use "styles/mixins.scss";
@import "styles/unit.scss";

.root {
  margin-top: rem(200);
  .container {
    h2 {
      margin-bottom: rem(132);
      font-weight: 700;
      font-size: rem(56);
      line-height: rem(60);
    }
    .row {
      .stylePrev {
        top: rem(-60);
        left: 0;
      }
      .styleNext {
        left: rem(60);
        top: rem(-60);
      }

      .card {
        padding: 0 rem(10);
        .cardBody {
          position: relative;
          width: rem(250);
          height: rem(174);
          cursor: pointer;
          border-radius: rem(16);
          padding: rem(56) rem(24);
          background: #c7dcdd;
          border: 5px solid transparent;
          overflow: hidden;
          .cardTitle {
            text-overflow: ellipsis;
            max-width: rem(240);
            font-weight: 400;
            font-size: rem(24);
            line-height: rem(24);
          }
          .cardIcon {
            position: absolute;
            right: rem(24);
            bottom: rem(20);
          }
        }
        .changeColor {
          background: #d6e2de;
        }
        .activeCard {
          border: rem(5) solid #38cac4;
        }
      }
    }
  }
  .container2 {
    padding: 0 rem(15);
    .content {
      padding: 0;
      margin-top: rem(100);
      border-radius: rem(20);

      .contentImg {
        width: 100%;
      }
      .contentBody {
        padding: rem(30);
        padding-top: 0;
        display: flex;
        column-gap: rem(50);
        p {
          margin-top: rem(20);
          font-weight: 400;
          font-size: rem(18);
          line-height: rem(24);
          color: rgba(4, 4, 21, 0.6);
          &:first-child {
            margin-top: 0;
          }
          strong {
            color: var(--primary-color);
          }
        }
        .cultureImage {
          // width: 680px
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .root {
    .container2 {
      .content {
        .contentBody {
          display: block;
          .cultureImage {
            width: 100%;
            margin-bottom: rem(30);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    position: relative;
    margin-top: rem(100);

    .container {
      h2 {
        font-size: rem(30);
        line-height: rem(34);
        margin: 0;
      }
      .row {
        margin-top: rem(40);
        .card {
          margin-left: rem(-12);
          .cardBody {
            width: rem(200);
            height: rem(101);
            padding: 0;
            padding-top: rem(25);
            padding-left: rem(15);
            .cardTitle {
              white-space: wrap;
              font-size: rem(16);
              line-height: rem(22);
            }
            .cardIcon {
              right: rem(10);
              bottom: rem(10);
            }
          }
        }
      }
    }
    .container2 {
      .content {
        margin-top: rem(70);
        .description {
          font-size: rem(16);
          line-height: rem(24);
        }
        .contentBody {
          padding: 0;
          margin: 0;
          p {
            margin-top: rem(30);
          }
        }
      }
    }
  }
}
